.pytest_cache
.vs
.vscode
.idea
docs
logos
*.md
LICENSE

src/CMakeFiles
src/CMakeCache.txt
src/cmake_install.cmake
src/Makefile
src/installer-build

src/*.dir
src/*-prefix
src/stdlib
src/Win32
src/x64
src/*.vcxproj*
src/*.sln
src/*.generated


src/cpp/CMakeFiles
src/cpp/CMakeCache.txt
src/cpp/cmake_install.txt
src/cpp/Makefile
src/cpp/*.so
src/cpp/*.dll
src/cpp/gmod-module-base-prefix
src/cpp/.gitignore
src/cpp/Debug
src/cpp/Release
src/cpp/cpython-*
