.vs
*.obj
python_extensions/build
python_extensions/my_setup.py
python_extensions/*/*.c
python_extensions/*.cpp
python_extensions/*/*.cpp
python_extensions/*.h
python_extensions/*/*.h
*.pyd
*log
*.vcxproj.user
*build
*.pdb
*.pyc
*.idb
*.iml
.idea
*.swp
