# PyCharm
.idea
# Visual Studio
.vs
# Visual Studio Code
.vscode
# Visual Studio CMake cache
out/
# Python Virtualenv
venv

# Python cache
__pycache__
*.pyc

installer-build

# CMake cache
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
run_gtests*.cmake
Makefile

# Build products
*.dll*
*.lib
*.ilk
*.pdb
*.exp
*.cbp
*.so
*.pyc

_deps
*.dir
*-prefix
*-out
stdlib
Win32
x64
Testing
*.vcxproj*
*.sln
*.generated
Debug
Release