installer-build

# CMake cache
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

# Build products
*.dll*
*.lib
*.ilk
*.pdb
*.exp
*.cbp
*.so
*.pyc

*.dir
*-prefix
stdlib
Win32
x64
*.vcxproj*
*.sln
*.generated
cpp/Debug
cpp/Release
cpp/gmod-module-base-prefix
cpp/cpython-out
